<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaZero</title>

    <!-- Flask의 url_for을 사용하여 정적 파일 불러오기 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Play Omok with AlphaZero !</h1>
    <h3 style="color:red;">Only Available on PC</h3>
    <img id="gameResultImg" src="{{ url_for('static', filename='default.png') }}" alt="Game Result" class="result-img" style="width: 360px; height: auto;">
    <br>
    <h4>choose color you want to play with</h4>
    <div class="button-container">
        <button class="btn" onclick="pickInitiative()">
            <img id="is_init" src="{{ url_for('static', filename='white.png') }}" alt="Initiative" class="btn-img" style="width: 80px; height: auto;">
        </button>
        <button class="btn" onclick="start()" id="startButt">
            <img src="{{ url_for('static', filename='start.png') }}" alt="start" class="btn-img" style="width: 80px; height: auto;">
        </button>
        <button class="btn" onclick="resetBoard()">
            <img src="{{ url_for('static', filename='reset.png') }}" alt="reset" class="btn-img" style="width: 80px; height: auto;">
        </button>
    </div>
    <br>
    <canvas id="boardCanvas"></canvas>
    <!-- <div class="controls">
        <button onclick="switchPlayer()">현재 플레이어: <span id="currentPlayer">백</span></button>
    </div> -->

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <br>
    @ KanghwaSisters : Team AiGO (24-2)
</body>
</html>